.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.timetable-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.timetable-navbar {
  display: flex;
  justify-content: center; /* Center the navbar */
  margin-bottom: 20px;
}

.timetable-nav-item {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timetable-nav-item:hover {
  background-color: #0056b3;
}

.timetable-nav-item.active {
  background-color: #0056b3;
}

.timetable-generate-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timetable-generate-btn:hover {
  background-color: #218838;
}

.timetable-content {
  text-align: center; /* Center content */
}

.timetable-title {
  margin-bottom: 20px;
}

.timetable-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Center the table */
}

.timetable-header {
  background-color: #343a40;
  color: white;
  padding: 10px;
}

.timetable-period {
  background-color: #f8f9fa;
}

.timetable-cell {
  border: 1px solid #dee2e6;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.timetable-cell:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row color */
}
